.reactstory-styled {
  display: flex;

  position: relative;

  border-radius: 0.45rem;

  background: #272633;

  overflow: hidden;
  transition: height 0.5s, width 0.5s;

  .story-render {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    z-index: 10;

    > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    /* This should be converted into it's own component */
    .custom-story {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1rem;
      padding: 3.5rem 1.5rem;

      .title {
        font-size: 2rem;
        margin-bottom: 4rem;
      }

      .emoji {
        font-size: 2.5rem;
      }

      .states {
        font-size: 1.5rem;
      }

      &.interactive {
        background: #f7dceb;
      }
    }
  }

  /* Header styling */
  .story-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;

    transition: opacity 0.2s;
    z-index: 100;

    filter: drop-shadow(#000 0px 1px 10px);

    .story-timer-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      gap: 5px;

      width: 100%;
      padding: 7px 5px;
    }

    .story-user-controls {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      width: 100%;
      padding: 7px 0.75rem;

      span svg {
        height: 1.5rem;
        width: 1.5rem;

        cursor: pointer;
      }
    }

    &.hidden {
      opacity: 0;
    }
  }

  /* See more styling */
  .story-seemore {
    margin-bottom: 1rem;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;

    cursor: pointer;
    z-index: 100;

    filter: drop-shadow(#000 0px 1px 20px);

    .seemore-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  /* Story watermark styling */
  .story-watermark {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    z-index: 20;

    &.top-left {
      top: 3.5rem;
      left: 0.75rem;
    }

    &.top-right {
      top: 3.5rem;
      right: 0.75rem;
    }

    &.bottom-left {
      bottom: 0.75rem;
      left: 0.75rem;
    }

    img {
      width: 3rem;
      opacity: 0.5;
      filter: saturate(0);
    }
  }

  /* Controls styling */
  .story-controls {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    z-index: 90;

    .previous-story,
    .next-story {
      height: 100%;
      width: 50%;
      cursor: pointer;
      z-index: 95;

      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .speed-up-story {
      position: absolute;

      height: 100%;
      width: 10%;
      cursor: pointer;
      z-index: 97;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
