*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // Dissables pull-to-refres on mobile devices
  overflow: hidden;
}

html {
  background-color: #0f0f0f;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  width: 100dvw;
  height: 100dvh;

  background-color: #0f0f0f;
  color: #fff;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.mobile {
  height: 100dvh;
  width: 100dvw;

  background-color: #0f0f0f;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

code,
.block {
  font-size: 1.1srem;
  background: #1b1b22;
  padding: .5rem;
  border-radius: .25rem;
  width: max-content;

  margin-bottom: 2rem;

  p {
    margin: .5rem 0;
  }
}

.shield-container {
  display: flex;
  gap: .5rem;
  margin-bottom: 2rem;

  .shield {
    height: 20px;
    width: auto;
  }
}